<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liantong.demo_part2.Mapper.PON2022MigrationMapper">

    <select id="getOLTChosenTable" resultType="java.util.LinkedHashMap">
        select * from OLT_chosen ;
    </select>

    <update id="dropMergeTable">
        drop table if exists merge_table;
    </update>

    <update id="createMergeTable" parameterType="string">
        CREATE TABLE merge_table(
                                    id BIGINT(20) not null auto_increment,
                                    OLT名称 VARCHAR(255) DEFAULT null,
                                    分局 VARCHAR(255) DEFAULT null,
                                    分公司 VARCHAR(255) DEFAULT null,
                                    OLT管理IP VARCHAR(255) DEFAULT null,
                                    设备类型 VARCHAR(255) DEFAULT null,
                                    带宽 VARCHAR(255) DEFAULT null,
                                    通道1流入峰值 VARCHAR(255) DEFAULT null,
                                    通道1流入峰值利用率 VARCHAR(255) DEFAULT null,
                                    通道1流入均值 VARCHAR(255) DEFAULT null,
                                    通道1流入均值利用率 VARCHAR(255) DEFAULT null,
                                    通道2流入峰值 VARCHAR(255) DEFAULT null,
                                    通道2流入峰值利用率 VARCHAR(255) DEFAULT null,
                                    通道2流入均值 VARCHAR(255) DEFAULT null,
                                    通道2流入均值利用率 VARCHAR(255) DEFAULT null,
                                    PON板号 VARCHAR(255) DEFAULT null,
                                    PON口号 VARCHAR(255) DEFAULT null,
                                    `上网账号` VARCHAR(255) DEFAULT null,
                                    通道1流入峰值采集时间 date DEFAULT null,
                                    通道2流入峰值采集时间 date DEFAULT null,
                                    PRIMARY key (id)
        );
    </update>

    <insert id="initMergeTable" parameterType="string">
        INSERT into merge_table (OLT名称,分局,分公司,OLT管理IP,设备类型,带宽,通道1流入峰值,通道1流入峰值利用率,通道1流入均值,通道1流入均值利用率,通道2流入峰值,通道2流入峰值利用率,通道2流入均值,通道2流入均值利用率,PON板号,PON口号,上网账号,通道1流入峰值采集时间,通道2流入峰值采集时间)
        SELECT `网元名称`,分局,分公司,OLT管理IP,设备类型,带宽,通道1流入峰值,通道1流入峰值利用率,通道1流入均值,通道1流入均值利用率,通道2流入峰值,通道2流入峰值利用率,通道2流入均值,通道2流入均值利用率,PON板号,PON口号,上网账号,通道1流入峰值采集时间,通道2流入峰值采集时间
        FROM new_line_null a LEFT JOIN new_pon_traffic_null b on a.OLT端口号 = b.`PON口号` and a.`OLT槽位号` = b.`PON板号` and a.OLT = b.`网元名称`;
    </insert>



    <update id="createOLTChosenTable" parameterType="string">
        drop table if exists OLT_chosen;
        CREATE TABLE OLT_chosen(
                                   id BIGINT(20) not null auto_increment,
                                   OLT名称 VARCHAR(255) DEFAULT null,
                                   OLT管理IP VARCHAR(255) DEFAULT null,
                                   GPON口 VARCHAR(255) DEFAULT null,
                                   EPON口 VARCHAR(255) DEFAULT null,
                                   10GPON口 VARCHAR(255) DEFAULT null,
                                   总和 VARCHAR(255) DEFAULT null,
                                   PRIMARY KEY (id)
        );
    </update>

    <insert id="insertOLTChosenTable" parameterType="string">
        set session sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';
        INSERT INTO OLT_chosen(OLT名称,`OLT管理IP`,GPON口,EPON口,10GPON口,总和)
        SELECT `OLT名称`,`OLT管理IP`,SUM(IF(带宽='2500',1,0)) GPON口,SUM(IF(带宽='1000',1,0)) EPON口,SUM(IF(带宽='10000',1,0)) 10GPON口,count(*) 总和
        FROM (SELECT DISTINCT OLT名称,`OLT管理IP`,`带宽`,`PON板号`,`PON口号` FROM merge_table) as a
        GROUP BY a.`OLT名称`;
    </insert>

    
    <select id="getRegion" resultType="java.util.HashMap">
        SELECT DISTINCT 分局,分公司,OLT名称 from merge_table;
    </select>


    <update id="createPlanTable">
        drop table if exists plan_table;
        CREATE TABLE plan_table(
                                   id int(11) not null auto_increment,
                                   OLT名称 varchar(255) DEFAULT null,
                                   OLT管理IP VARCHAR(255) DEFAULT null,
                                   `PON板号` VARCHAR(255) DEFAULT null,
                                   `PON口号` VARCHAR(255) DEFAULT null,
                                   `通道1流入峰值最大值` VARCHAR(255) DEFAULT null,
                                   `通道2流入峰值最大值` VARCHAR(255) DEFAULT null,
                                   `通道1均值最大值` VARCHAR(255) DEFAULT null,
                                   `通道2均值最大值` VARCHAR(255) DEFAULT null,
                                   `通道1预测流量值` VARCHAR(255) DEFAULT null,
                                   `通道2预测流量值` VARCHAR(255) DEFAULT null,
                                   `通道1趋势线` VARCHAR(255) DEFAULT null,
                                   `通道2趋势线` VARCHAR(255) DEFAULT null,
                                   `通道1流入峰值采集时间` VARCHAR(255) DEFAULT null,
                                   `通道2流入峰值采集时间` VARCHAR(255) DEFAULT null,
                                   PRIMARY KEY (id),
                                   INDEX (`PON板号`,`PON口号`),
                                   INDEX(OLT名称)
        );
    </update>

    <insert id="insertPlanTable1">
        set session sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';
        INSERT INTO plan_table(OLT名称,`OLT管理IP`,`PON板号`,`PON口号`,通道1流入峰值最大值,通道2流入峰值最大值,通道1均值最大值,通道2均值最大值,通道1流入峰值采集时间,通道2流入峰值采集时间)
        SELECT OLT名称,`OLT管理IP`,`PON板号`,`PON口号`,max(通道1流入峰值) 通道1流入峰值最大值,MAX(通道2流入峰值) 通道2流入峰值最大值,max(通道1流入均值) 通道1均值最大值,max(通道2流入均值) 通道2均值最大值,通道1流入峰值采集时间,通道2流入峰值采集时间
        from (SELECT DISTINCT OLT名称,`OLT管理IP`,`PON板号`,`PON口号`,通道1流入峰值,通道2流入峰值,通道1流入均值,通道2流入均值,通道1流入峰值采集时间,通道2流入峰值采集时间 FROM merge_table) a
        GROUP BY OLT名称,`PON板号`,`PON口号`;
    </insert>

    <select id="getPlanTable" resultType="java.util.LinkedHashMap">
        select * from plan_table where OLT名称 = #{OLT_name};
    </select>
</mapper>
